.Ishop
{
  
  width: 800px;
  padding: 3px 7px;
  background-color: darkturquoise;
}
.Ishop .List
{
  font-weight: bold;
  font-size: 20 pt;
  
  text-align-last: center;
}

th{
    text-align-last: center;
   background-color: beige;
}
td{
    background-color: lightblue; 
   
    text-align-last: center;
}