table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 250px;
}

.selected {
    background-color: green;
}

.action-button {
    width: 100%;
    color: red;
    height: 100%;
    cursor: pointer;
}