table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
    text-align: center;
    
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 250px;
}

.selected {
    background-color: orangered;
}

